{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="" alt="Your Company Logo" class="h-8 w-auto">
        </a>
        <!-- Mobile menu toggle -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'product_list' %}">View Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add_product' %}">Add Product</a>
                </li>
            </ul>

            <!-- Search Form -->
            <form class="d-flex ms-auto" method="get" action="">
                <input class="form-control me-2" type="search" name="query" placeholder="Search products..." aria-label="Search" value="{{ request.GET.query }}">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>

            <!-- Profile dropdown -->
            <div class="dropdown ms-3">
                <button class="btn btn-outline-light dropdown-toggle" type="button" id="profileMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="" alt="Profile Image" class="rounded-circle" width="30" height="30">
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileMenuButton">
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Log out</a></li>
                </ul>
            </div>

            <!-- Notifications and Cart Icons -->
            <div class="d-flex ms-3">
                <button class="btn btn-outline-light me-2" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="View Notifications">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="24" height="24">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
                    </svg>
                </button>
                
                <button class="btn btn-outline-light" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="View Cart">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="24" height="24">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</nav>
